# Build Artifacts & Binaries
.build/
.build*/
build/
DerivedData/
*.xcodeproj
*.xcworkspace
_CodeSignature/
*.app/
*.app
*.zip
!Sync Disk.app.zip
*.o
*.d
*.dia
*.swiftdeps

# Tests
Tests/
*Test*/

# Executable & Local Build Scripts
scripts/
*.sh
*.py
__pycache__/

# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# User & Local Environment
*.swp
*~
.idea/
.vscode/

# Temporary & Log Files
scratch/
*.log
